<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showSeparatorLine</key>
	<false/>
	<key>isTranslucent</key>
	<false/>
	<key>backgroundColor</key>
	<string>#2B2B2B</string>
	<key>normalColor</key>
	<string>#afaaae</string>
	<key>selectedColor</key>
	<string>#E84E3C</string>
	<key>isCustomTitleFont</key>
	<true/>
	<key>customTitleFontName</key>
	<string>Snell Roundhand</string>
	<key>customTitleFontSize</key>
	<dict>
		<key>4_0</key>
		<integer>10</integer>
		<key>4_7</key>
		<integer>12</integer>
		<key>5_x</key>
		<integer>12</integer>
		<key>6_x</key>
		<integer>14</integer>
	</dict>
	<key>barItems</key>
	<array>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_tongji</string>
			<key>selectedImage</key>
			<string>tab_tongji-blue</string>
			<key>title</key>
			<string>Usage</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_dingdan</string>
			<key>selectedImage</key>
			<string>tab_dingdan-blue</string>
			<key>title</key>
			<string>List</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<true/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-peixun</string>
			<key>selectedImage</key>
			<string>tab-peixun</string>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_peixun</string>
			<key>selectedImage</key>
			<string>tab_peixun-blue</string>
			<key>title</key>
			<string>Test</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_wode</string>
			<key>selectedImage</key>
			<string>tab_wode-blue</string>
			<key>title</key>
			<string>Profile</string>
		</dict>
	</array>
</dict>
</plist>
